.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://images.slideplayer.com/11/2994610/slides/slide_2.jpg");
    background-size: cover;
}

.loginTitle {
    font-size: 50px;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm>label {
    margin: 10px 0;
}

.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton {
    margin-top: 20px;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.loginButton:disabled {
    cursor: not-allowed;
    background-color: turquoise;
}

.loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: yellowgreen;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}